DATABASE_URL="postgresql://user:password@aws-0-region.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:password@aws-0-region.pooler.supabase.com:5432/postgres"
JWT_SECRET="generate-a-secure-random-secret-key-for-jwt"
PORT=3000
NODE_ENV="production"
HOUSE_EDGE=0.03
NEXT_PUBLIC_WS_URL="wss://votre-serveur-websocket.com/ws"

# Configuration SMTP (Vérification Email)
SMTP_HOST="mail.bretonwebexpert.fr"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="info@bretonwebexpert.fr"
SMTP_PASS="votre-mot-de-passe-smtp"
SMTP_FROM="\"AEROX CRASH\" <info@bretonwebexpert.fr>"
